<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
                           <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Richard Silva 2024</div>
                        <div>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#ModalPrivPoli">Privacy Policy</a>
                            &middot;
                            <a href="#" data-bs-toggle="modal" data-bs-target="#ModalTermCondi">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
            </div>
</html>
