<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Administrador</title>
</head>
<body>
    <h2>Bienvenido Administrador</h2>
    
    <p>Username: <span sec:authentication="name"></span></p>
    <p>Roles: <span sec:authentication="principal.authorities"></span></p>

    <div sec:authorize="hasRole('ADMIN')">
        <h2>Volver a Index</h2>
        <a th:href="@{/}">Volver</a>
        <h1 th:text="#{index.hello}" >texto</h1>
    </div>
</body>
</html>