<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Administrador</title>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
                <div class="col-md-3">
                    <!-- Navbar Brand-->
                    <a class="navbar-brand ps-3" th:href="@{/index}">
                        <img class="invert" th:src="@{/logos/menuNavLogo.png}" alt="Inmolab">
                    </a>
                </div>
                <div class="col-md-6">
                    <!-- Sidebar Toggle-->
                    <button class="btn btn-link btn-light btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle"
                        href="#!"><i class="fas fa-bars"></i></button>
                </div>
                <div class="col-md-3">
                    <!-- Navbar-->
                    <div class="float-end">
                        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user fa-fw"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item text" href="#!">Configuración</a></li>
                                    <li><a class="dropdown-item" href="#!">Actividad</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    
    
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
    <div class="nav">
        <a class="nav-link" th:href="@{/index}">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Alquiler
        </a>
        <div class="sb-sidenav-menu-heading">Utilidades</div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAlquiler" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
            Alquiler
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseAlquiler" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" th:href="@{/propiedadesAlquiler}">Inmuebles</a>
                <a class="nav-link" th:href="@{/contratos}">Contratos</a>
            </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseVenta" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
            Venta
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseVenta" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" th:href="@{/propiedadesAlquiler}">Inmuebles</a>
                <a class="nav-link" th:href="@{/contratos}">Contratos</a>
            </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePropietarios" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-building"></i></div>
            Propietarios
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapsePropietarios" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" th:href="@{/propietariosList}">Consultar</a>
                <a class="nav-link" th:href="@{/cliente/nuevo}">Agregar Propietarios</a>
            </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseEmpleados" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-user-tie"></i></div>
            Administrativo
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseEmpleados" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" th:href="@{/empleados/listar}">Empleados</a>
                <a class="nav-link" th:href="@{/facturacion}">Facturación</a>
            </nav>
        </div>
    </div>
                    </div>
    
                    <div class="sb-sidenav-footer">
                        <div class="small">Nombre : Usuario</div>
                        InmoLab
                    </div>
                </nav>
            </div>
    <h2>Bienvenido Administrador</h2>
    
    <p>Username: <span sec:authentication="name"></span></p>
    <p>Roles: <span sec:authentication="principal.authorities"></span></p>

    <div sec:authorize="hasRole('ADMIN')">
        <h2>Volver a Index</h2>
        <a th:href="@{/}">Volver</a>
        <h1 th:text="#{index.hello}" >texto</h1>
    </div>
</body>
</html>